test2/__pycache__/dataset.cpython-37.pyc
test2/__pycache__/loss_network.cpython-37.pyc
test2/__pycache__/opticalflow.cpython-37.pyc
test2/__pycache__/transfer.cpython-37.pyc
test2/__pycache__/vgg.cpython-37.pyc
test2/__pycache__/utilFunc.cpython-37.pyc
test2/__pycache__/videocrawler.cpython-37.pyc
test2/__pycache__/style_network.cpython-37.pyc
test2/.vscode/launch.json
test2/train/*
test2/test/land_stylized0.jpg
test2/model/net_save_epochs_0.pth
test2/test/land_stylized0.jpg
test2/model/save_mosaic.pth
test2/model/save_style1.pth
test2/style/mosaic.jpg
test2/style/udnie.jpg
test2/test/land_stylized0mosaic.jpg
test2/test/land_stylized0.jpg
test2/test/land_stylizedstyle1.jpg
test2/test/land_stylized0.jpg
test2/test/emma.jpg
